
<% var n = 1000	;
var a = "<font color=green>Green</font>"; 
var tuoi = 18;%>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>server</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

	<h1>Welcome to EJS</h1>

	<!-- dấu = bảo mật -->
	<h4><%=	n %></h4>

	<!-- dấu - ko bảo mật -->
	<h4><%-	a %></h4>

	<% if( tuoi >= 18 ){%>
			<h3>bạn đủ 18 tuổi</h3>
		<% }else{ %>
			<h3>bạn đủ 18 tuổi</h3>
	<% } %>	

	<% for(var i = 0 ; i <= id ; i++ ){ %>
			<h3>Khoa học NodeJS - <%= i %></h3>
	<% } %>

	<form action="/post" method="post">
		Username: <input type="text" name="username"> <br>
		Password: <input type="password" name="password"> <br>
		<input type="submit" name="submit">
	</form>

	<a href="/namsinh?spId=200" >spId</a>

	<div class="them">
		
	</div>

	<script>
		$(document).ready(function(){
			$.get("/namsinh", {spId:100}, function(data){
				$(".them").html(data);
			})
		})
	</script>

</body>
</html>