<h2>Add new</h2>

<form action="/new/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<input type="text" name="txtTitle" placeholder="Title"><br>
	<textarea name="txtDescription"></textarea><br>
	<input type="file" name="fileImage"><br>
	<textarea name="txtContent"></textarea><br>
	<input type="text" name="txtOdering"><br>
	<input type="checkbox" name="chkActive"><br>
	<input type="submit" value="submit">
</form>